.projects{
    text-align: center;
    background: linear-gradient(to top , #1a0b2e , #000);
    padding-bottom: 50px;
}

.projects-heading h2{
    font-size: 48px;
    font-weight: 600;
    color: #C47BE4;
    margin-bottom: 40px;
    display: inline-block;
    width: fit-content;
    
}

.projects-card-container{
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.project-card{
    position: relative;
    width: 100%;
    max-width: 700px;
    border-radius: 12px;
    overflow: hidden;
}

.project-img{
    width: 100%;
    display: block;
    margin: auto;
}

.project-caption{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    opacity: 0;
    background: rgba(0 , 0 , 0, 0.9);
    transition: opacity 0.3s ease;
}

.project-card:hover .project-caption{
    opacity: 1; 
}

.main-area:has(.project-card:hover)::before{
    opacity: 0;
}

@media(max-width:750px) {
    .projects-heading h2{
        font-size: 36px;
    }
}

@media(max-width:550px) {
    .projects-card-container{
        display: flex;
        flex-direction: column;
    }
}