@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
    background: linear-gradient(to top,#1a0b2e, #000);
    width: 100%;
    overflow: hidden;
    position: relative;
}


.hero-content, .hero-container img{
    position: relative;
    z-index: 2;
}

.hero-container img{
    width: 300px;
    height: auto;
    margin: 40px;
    transition: transform 0.3s ease;
    border: 5px solid #C47BE4;
    border-radius: 100%;
}

.hero-container img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(196, 123, 228, 0.6);
}

.hero-content{
    width: 90%;
    max-width: 500px;
    text-align: left;
    position: relative;
    z-index: 2;
}

.hero-content h1{
    color: white;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 10px;
    background: linear-gradient(to left, #fff , #C47BE4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInUp 0.8s ease backwards;
}

.hero-content .p1{
    color: #C47BE4;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    animation: fadeInUp 0.8s ease 0.2s backwards;
    padding-left: 5px;
}

.hero-content .p2{
    color: #cccccc;
    font-size: 18px;
    animation: fadeInUp 0.8s ease 0.4s backwards;
    padding-left: 5px;
    font-style: italic;
    padding-top: 5px;
    line-height: 1.3;
    opacity: 0.7;
}

.main-area:has(.hero-content:hover)::before{
    opacity: 0;
}

@media (max-width:750px) {
    .hero-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        min-height: 100vh;
        height: auto;
        padding: 100px 20px 60px 20px;
    }

    .hero-container img{
        width: 250px;
        margin: 0 auto;
    }

    .hero-content{
        width: 100%;
        max-width: 500px;
        text-align: center;
    }

    .hero-content h1{
        font-size: 48px;
    }

    .hero-content .p1{
        font-size: 18px;
    }

    .hero-content .p2{
        font-size: 16px;
    }

}