.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    height: 65px;
    padding: 0 50px;
    background: rgba(18, 18, 18, 0.8);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
    transition: all 0.3s ease;
}

.main-area:has(.navbar:hover)::before{
    opacity: 0;
}

.navbar-left h3{
    color: white;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.3s ease;
}

.navbar-left h3:hover{
    color: #C47BE4;
    text-shadow: 0 0 15px rgba(196, 123, 228, 0.8);
    transform: translateY(-2px);
}

.navbar-middle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.navbar-middle a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
}

.navbar-middle a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #C47BE4;
    transition: width 0.3s ease;
}

.navbar-middle a:hover::after{
    width: 100%;
}

.navbar-right img{
    transition: transform 0.3s ease;
}

.navbar-right img:hover{
    transform: scale(1.1);
}

.menu-icon{
    display: none;
    cursor: pointer;
    margin-left: 20px;
}

.navbar-overlay{
    position: fixed;
    /* top: 65px; */
    top: -100%;
    width: 100%;
    height: fit-content;
    align-items: center;
    background: rgba(18, 18, 18, 0.95);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    transition: top 0.5s ease;
    border-bottom-left-radius: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 100;
}

.navbar-overlay.open{
    top: 65px;
}

.navbar-overlay a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width:550px){
    .navbar-middle{
        display: none;
    }
    .navbar-right img{
        display: none;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

