.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top , rgb(0, 0, 0, 0.7) , rgb(26, 11, 46, 0.7));
    backdrop-filter: blur(15px);
    font-weight: 500;
    gap: 25px;
}

.main-area:has(.footer:hover)::before{
    opacity: 0;
}

.copyright{
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: rgb(255, 255, 255, 0.3);
}

.contact{
    font-size: 30px;
    color: #C57BE4;
    margin-bottom: 0;
}

.icons{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.icons img{
    transform: translateY(-4px);
}

@media(max-width:550px) {
    .footer{
        height: 150px;
    }

    .contact{
        font-size: 25px;
    }

    .copyright{
        bottom: 10px;
        right: 20px;
        font-size: 12px;
    }

}