.main-area{
    overflow: hidden;
}

.main-area::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        100px circle at var(--mouseX) var(--mouseY),
        rgba(196, 123, 228, 0.2),
        transparent 40%
    );
    pointer-events: none;
    z-index: 1;

    transition: opacity 0.4s ease;
}