body{
  background-color: black;
  color: white;
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  cursor: pointer;
}
